.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0 0 30px;
}

form {
  display: flex;
  margin-bottom: 30px;
}

input[type='text'] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #007bff;
  font-size: 18px;
  margin-right: 10px;
  transition: border-bottom 0.3s ease;
}

input[type='text']:focus {
  outline: none;
  border-bottom: 2px solid #0069d9;
}

button[type='submit'] {
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #0069d9;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
}

li:hover {
  opacity: 0.7;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

li span {
  flex-grow: 1;
  cursor: pointer;
  font-size: 18px;
}

.delete-btn {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #ff0000;
}
.delete-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}
